<footer  >
    <div class="foot2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                    <div class="d-flex justify-content-center align-items-center h-100 ">

                        <h4><span class="breathe px-3 py-1"><span>F</span></span>ota</h4>

                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 mb-3 ">
                    <div class="">
                        <h3>CATEGORIES</h3>
                        <p>Home</p>
                        <p>Pages</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 mb-3">
                    <div class="">
                        <h3>NAVIGATE</h3>
                        <p>Help</p>
                        <p>About</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 mb-3 ">
                    <div class="">
                        <h3>FOLLOW US</h3>
                        <i class="fa-brands fa-facebook me-3 "></i>
                        <i class="fa-brands fa-google mb-5"></i>
                        <p class="copy">Copyright All Resaved@Breathe.2022-2023</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>