<nav class="navbar p-4 navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand text-info fs-3" style="width: 11%" href="/"
      ><img loading="lazy" src="shared/images/logo.png" class="w-100" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productList">Products List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0 text-center justify-content-md-between item"
      >
        <li class="nav-item d-flex align-items-center justify-content-center">
          <form
            class="d-flex align-items-center justify-content-center"
            role="search"
          >
            <input
              class="form-control me-3 py-1"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </li>
        <% if (isLogged) { %>
        <li class="nav-item">
          <a class="text-success text-decoration-none me-2" href="/options"
            >My Options</a
          >
        </li>
        <% } %> <% if (!isLogged) { %>
        <li class="nav-item">
          <a class="text-info text-decoration-none" href="/login">Login</a>
        </li>
        <% } %> <% if (isLogged) { %>
        <li class="nav-item">
          <a class="text-info text-decoration-none me-2" href="/profile"
            >Profile</a
          >
        </li>
        <% } %> <% if (isLogged) { %>
        <li class="nav-item">
          <a class="text-danger text-decoration-none" href="/logout">LogOut</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
