<%- include("./shared/static/header") %>
    <%- include("./shared/static/Nav") %>

<div class="container">
    <h1 class='mt-5 m-auto text-center text-danger'> Hellllllllllllp</h1>
    <div class="w-75 m-auto row">
  <img src="../shared/images/help.jpg" class ='w-50  h-50'/>
  <img src="../shared/images/help.jpg" class ='w-50  h-50'/>
  </div>
  </div>

  <%- include("./shared/static/foot") %>
  <%- include("./shared/static/footer") %>