<%- include("./shared/static/header") %>
<%- include("./shared/static/Nav") %>
    <section class="container">
        <div class="background_image d-flex  align-items-center flex-column justify-content-center">
            <div class="home_contect">
                <h1 class="text-wrap">
                    Fota <br />
                    Firmware over the Air
                </h1>
                <img src="../shared/images/logo.png" class="w-50" />
            </div>
        </div>
    <div class="home2_contect">
        <div >
                <div class="small_img_content">
                    <img src="../shared/images/homeeee.png" class="w-100" />
                </div>
            <div class="content_img">
                 <div class="text text-center">
                    <h2 class="text-wrap">Short story about Fota</h2>
                    <h4 class="text-wrap">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. vel
                        suscipit recusandae amet ad voluptatum nulla itaque
                        consequatur dolore temporibus
                    </h4>
                </div>
            </div>
        </div>
     </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-7 mb-4">
                <div class="col-text">
                    <h2 class="how">How To Use the Firmware over the Air ?!</h2>
                    <p class="p_text mt-2 mb-2 text-wrap">
                        Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                        amet.consectetur, adipisicing elit. Eveniet debitis quo
                        voluptatibus ex veniam quos sit magni. Aliquid, placeat
                        voluptate.
                    </p>
                    <button class="home_btn w-50">More About Us </button>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-5 mb-4">
                <div class="img_col">
                    <img src="../shared/images/home2.png" class="w-100" />
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-7 mb-4">
                <div class="img_col">
                    <img src="../shared/images/home3.png" class="w-100" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-5 mb-4">
                <div class="col_text">
                    <h6 class="text-info ">Keep Up To Date</h6>
                    <h2 class="how">
                        Make it easy to 
                        <span class="text-info">Upgrade</span> your Product
                    </h2>
                    <p class="p_text mt-2 mb-2 text-wrap">
                        Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                        amet.consectetur, adipisicing elit. Eveniet debitis quo
                        voluptatibus ex veniam quos sit magni. Aliquid, placeat
                        voluptate.
                    </p>
                    <button class="home_btn w-50"> See Your Updates</button>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-5 mb-4">
                <div class="col_text">
                    <h4 class="text-info mb-2">list of Our Products</h4>
                    <h2 class="how">
                        Get to know <br></br>
                        <span class="text-info">Choice</span> the best for you
                    </h2>
                    <p class="p_text mt-2 mb-2 text-wrap">
                        Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                        amet.consectetur, adipisicing elit. Eveniet debitis quo
                        voluptatibus ex veniam quos sit magni. Aliquid, placeat
                        voluptate.
                    </p>
                    <button class="home_btn w-50"> Click here</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-7 mb-4">
                <div class="img_col">
                    <img src="../shared/images/home4.png" class="w-100" />
                </div>
            </div>
        </div>
    </section>

    <%- include("./shared/static/foot") %>
    <%- include("./shared/static/footer") %>