<%- include("./shared/static/header") %>
    <%- include("./shared/static/Nav") %>
        <section class="container">
            <div class="background_image d-flex  align-items-center flex-column justify-content-center">
                <div class="home_contect">
                    <h1 class="text-wrap">
                        Fota <br />
                        Firmware over the Air
                    </h1>
                    <img loading="lazy" src="../shared/images/logo.png" class="w-50" />
                </div>
            </div>
            <div class="home2_contect">
                <div>
                    <div class="small_img_content">
                        <img loading="lazy" src="../shared/images/homeeee.png" class="w-100" />
                    </div>
                    <div class="content_img">
                        <div class="text text-center">
                            <h2 class="text-wrap">Short story about Fota</h2>
                            <h6 class="text-wrap">
                                In a world of interconnected devices, a glitch disrupted the lives of many. ByteTech
                                swiftly devised a solution—a firmware update to fix the bug. With the power of Firmware
                                Over the Air, the update traveled silently through the airwaves, reaching every affected
                                device. Within minutes, the glitch vanished, restoring normalcy and leaving behind a
                                tale of seamless innovation.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-lg-6  my-4">
                    <div class="col-text">
                        <h2 class="how">How To Use the Firmware over the Air ?!</h2>
                        <p class="p_text mt-2 text-wrap">
                            Using Firmware Over the Air (FOTA) is a simple process. First, ensure that your device is
                            connected to the internet. Then, navigate to the device's settings or utilize a dedicated
                            app to check for available firmware updates. If an update is found, initiate the download
                            and installation process. Allow the device to complete the update, which may involve a
                            restart. Once finished, your device will be equipped with the latest firmware, ensuring
                            optimal performance and functionality without the need for manual intervention or physical
                            connections.
                        </p>
                        <button class="home_btn w-50">More About Us </button>
                    </div>
                </div>
                <div class="col-md-8 col-lg-6  my-4">
                    <div class="img_col">
                        <img loading="lazy" src="../shared/images/home2.png" class="w-100  " />
                    </div>
                </div>

                <div class="col-md-8 col-lg-6  my-4">
                    <div class="img_col">
                        <img loading="lazy" src="../shared/images/home3.png" class="w-100 " />
                    </div>
                </div>
                <div class="col-md-8 col-lg-6  my-4">
                    <div class="col_text">
                        <h6 class="text-info ">Keep Up To Date</h6>
                        <h2 class="how">
                            Make it easy to
                            <span class="text-info">Upgrade</span> your Product
                        </h2>
                        <p class="p_text mt-2 mb-2 text-wrap">
                            Making updates easy using FOTA (Firmware Over-The-Air) involves implementing a user-friendly interface that simplifies the update process. This interface should guide users through each step with clear instructions and minimal user input. Compatibility across devices is crucial, so the FOTA system should be designed to support various hardware configurations and software versions. Automatic update notifications and scheduling can be implemented, allowing users to choose convenient times for updates. Optimizing data transfer by using efficient compression algorithms and delivering updates in smaller, incremental packages helps minimize bandwidth usage. Regular testing and validation of the FOTA system ensure seamless and reliable updates for end users.
                        </p>
                        <a class="text-decoration-none" href="/profile"> <button class="home_btn w-50"> See Your
                                Updates</button></a>
                    </div>
                </div>

                <div class="col-md-8 col-lg-6  my-4">
                    <div class="col_text">
                        <h4 class="text-info mb-2">list of Our Products</h4>
                        <h2 class="how">
                            Get to know <br></br>
                            <span class="text-info">Choice</span> the best for you
                        </h2>
                        <p class="p_text mt-2 mb-2 text-wrap">
                            FOTA (Firmware Over-The-Air) can be utilized in a wide range of products. Smartphones can receive updates for operating systems, security patches, and firmware, ensuring improved performance and new features. IoT devices, such as smart home appliances and wearables, can benefit from FOTA by staying up to date and secure through remote updates. Automotive systems, including infotainment systems and safety features, can be upgraded seamlessly using FOTA,
                        </p>
                        <a class="text-decoration-none" href="/productList"> <button class="home_btn w-50"> Click
                                here</button></a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-6  my-4">
                    <div class="img_col">
                        <img loading="lazy" src="../shared/images/home4.png" class="w-100 " />
                    </div>
                </div>
            </div>
        </section>

        <%- include("./shared/static/foot") %>
            <%- include("./shared/static/footer") %>