<%- include("./shared/static/header") %> <%- include("./shared/static/Nav") %>
<div class="container">
  <div class="check_img">
    <img loading="lazy" src="shared/images/check.png" class="w-100" />
  </div>

  <h3 class="check mt-5 text-center">Product Options</h3>
  <form action="/options" method="post">
    <div class="row mt-5">
      <div class="col-lg-6 mb-4">
        <div class="check_content shadow-sm">
          <dev class="text-center h2 text-success"><h3>Restart</h3></dev>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
            inventore ducimus commodi
          </p>
          <div class="d-flex justify-content-center mt-5">
            <label class="rocker rocker-small">
              <input type="checkbox"  name="restart"
              <% if (restart){ %>
                value='true'
                checked
                disabled 
                <% } %>   autocomplete="off">
              <span class="switch-left">Yes</span>
              <span class="switch-right">No</span>
           </label>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="check_content shadow-sm">
          <dev class="text-center h2 text-success"><h3>ReFresh</h3></dev>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
            inventore ducimus commodi
          </p>
          <di class="d-flex justify-content-center mt-5">
            <label class="rocker rocker-small">
              <input type="checkbox"  name="refresh" 
              <% if (refresh){ %>
                value='true'
                checked
                disabled 
                <% } %> autocomplete="off">
              <span class="switch-left">Yes</span>
              <span class="switch-right">No</span>
           </label>
          </di>
        </div>
      </div>

      <div class="col-lg-6 m-auto mb-4">
        <div class="check_content shadow-sm">
          <dev class="text-center h2 text-danger"><h3>Power</h3></dev>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
            inventore ducimus commodi
          </p>
          <di class="d-flex justify-content-center mt-5">
            <label class="rocker rocker-small">
              <input type="checkbox"  name="power" <% if (turnOn) { %>
               checked
              <% } %> autocomplete="off">
              <span class="switch-left">ON</span>
              <span class="switch-right">OFF</span>
           </label>
          </di>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        class="btn btn-outline-success my-5 px-5 py-2 fw-bold fs-5fw-bold fs-5"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        <% if (restartWithCode){ %>
          disabled 
          <% } %>>
        Submit
      </button>
      <div
        class="modal fade"
        id="exampleModal"
        tabIndex="{-1}"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              />
            </div>
            <div class="modal-body">
              your Option will be done in two minutes... pls Wait
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<%- include("./shared/static/foot") %> <%- include("./shared/static/footer") %>
