
<%- include("./shared/static/header") %>
<%- include("./shared/static/Nav") %>
  <div class="list">
    <div class="container">
      <div class="check_img">
        <img src="shared/images/list.png" class="w-100" />
      </div>
      <h3 class="mt-5 text-center fs-1">list of Our Product</h3>
      <div class="row mt-5 d-flex justify-content-around">
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>

            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>

            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>

            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>
            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>

            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-4 ">
          <div class="check_content shadow-sm d-flex">
            <a href="/info">
              <img src="shared/images/logoinfo.png" />
            </a>
            <div class=" mt-3 ms-4">
              <h5>name</h5>
              <p>Lorem ipsum dolor sit </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./shared/static/foot") %>
  <%- include("./shared/static/footer") %>