<%- include("./shared/static/header") %>
<%- include("./shared/static/Nav") %>
    <section class="container">
        <div class="background_image d-flex  align-items-center flex-column justify-content-center">
            <div class="home_contect">
                <h1 class="text-wrap">
                    Fota <br />
                    Firmware over the Air
                </h1>
                <img src="../shared/images/logo.png" class="w-50" />
            </div>
        </div>

    </section>

    <%- include("./shared/static/foot") %>
    <%- include("./shared/static/footer") %>